<% var categories = ['accessories', 'art', 'bags_and_purses', 'bath_and_beauty', 'books_and_zines', 'candles', 'ceramics_and_pottery', 'children', 'clothing', 'crochet', 'dolls_and_miniatures', 'everything_else', 'furniture', 'geekery', 'glass', 'holidays', 'housewares', 'jewelry', 'knitting', 'music', 'needlecraft', 'paper_goods', 'patterns', 'pets', 'plants_and_edibles', 'quilts', 'supplies', 'toys', 'vintage', 'weddings', 'woodworking'] %>

<% var sortOptions = ["created", "price", "score"] %>

<form>
	<label>Price Range:
		<input type="text" name="min_price" value="<%= this.min_price || '' %>">
	</label>

	<label>
		to
		<input type="text" name="max_price" value="<%= this.max_price || '' %>">
	</label>

	<button class="price-range">
		Save Range
	</button>

	<label>Category:
		<% var fillInCategory = this.category %>
		<select name="category">
			<!-- special none flag option, for reasons in collection.prune -->
			<option value="none">None</option>
			<% _(categories).each(function (category) { %>
				<option
					value="<%= category %>"
					<% if (fillInCategory == category) { %>
						<%= selected="selected" %>
					<% } %>>
					<%= _.humanize(category) %>
				</option>
			<% }) %>
		</select>
	</label>

	<label>Sort By:
		<% var fillInSortOn = this.sort_on %>
		<select name="sort_on">
			<option value="none">None</option>
			<% _(sortOptions).each(function (sortOption) { %>
				<option
					value="<%= sortOption %>"
					<% if (fillInSortOn == sortOption) { %>
						<%= selected="selected" %>
					<% } %>>
					<%= _.humanize(sortOption) %>
				</option>
			<% }) %>
		</select>
	</label>
</form>