<!-- link to more information on item -->
<a href="#">
	<div class="picture-area">
		<img src="<%= this.Images ? Images[0]['url_170x135'] : 'http://placekitten.com/170/135' %>">
		<div class="description">
			<%= this.description ? description.trimLeft().slice(0,110) + "..." : "" %>
		</div>
	</div>

	<div class="information">
		<h5 class="title"><%= this.title || " " %></h5>
		<p class="views"><strong><%= this.views || "0" %></strong> Views</p>
		<!-- price is not always defined -->
		<p class="price"><%= this.price || "In" %> <%= this.currency_code || "USD" %></p>
	</div>

	<p class="see-more">
		Click to see more!
	</p>
</a>